.DS_Store
.DS_Store
.ipynb_checkpoints/Chapter 1 - Variables-checkpoint.ipynb
.ipynb_checkpoints/Chapter 2 - Collections-checkpoint.ipynb
.ipynb_checkpoints/Chapter 3 - Conditions-checkpoint.ipynb
Examenopdracht*
__pycache__/
